<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Add contact form</title>
</head>
<body>
	<section>
		<div class="card ">
			<div class="card-body ">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-1">



							<form enctype="multipart/form-data" th:object="${contact}"
								method="POST" th:action="@{/user/process-contact}" class="mt-2">





								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input required type="text" id="firstName" name="firstName"
										placeholder="Enter First Name here" class="form-control">
								</div>

								<!-- Last Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input required type="text" id="lastName" name="lastName"
										placeholder="Enter Last Name here" class="form-control">
								</div>

								<!-- Phone -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input required type="number" id="phone" name="phone"
										placeholder="Enter Mobile no. here" class="form-control">
								</div>

								<!-- Email -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input required type="email" id="email" name="email"
										placeholder="Enter Email-Id here" class="form-control">
								</div>

								<!-- Work -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input required type="text" id="work" name="work"
										placeholder="Enter Profession here" class="form-control">
								</div>

								<!-- Description -->
								<div class="form-group mt-3">
									<textarea name="description"
										placeholder="Enter Profession Description here"
										class="form-control" rows="14"></textarea>
								</div>

								<!-- Image -->
								<div class="custom-file mt-3">
									<input required type="file" name="fileimage" accept="image/*" />

								</div>


								<div class="container text-center">
									<input type="submit" value="Submit" id="button-1" />
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
