<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>show contacts</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">

				<h1 class="text-center">Your contacts</h1>



<div class="table-responsive"></div>
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col">#Id</th>
							<th scope="col">FirstName</th>
							<th scope="col">LastName</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="c : ${contacts}">
							<th th:text="${'SCMUSER'+c.cID}" scope="row"></th>
							<td><img class="my_profile_picture" alt="profile photo"
								src="" th:src="@{'/img/'+${c.image}}"> <span
								th:text="${c.firstName}"></span></td>
							<td th:text="${c.lastName}"></td>
							<td><a href="#" th:href="@{'/user/'+${c.cID}+'/contact'}">
									<span th:text="${c.email}"></span>
							</a></td>
							<td th:text="${c.phone}"></td>
							<td><a href="#" th:onclick="|deleteContact(${c.cID})|"
								class="btn btn-danger btn-small">Delete</a>
								
								
								
								<form method="post" class="mt-2" 
									th:action="@{'/user/update-contact/'+${c.cID}}">
									<button type="submit"  class="btn btn-success btn-small">Update</button>
								</form></td>
						</tr>

					</tbody>
				</table>

				<!-- pagination part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">




						<li th:if="${currentPage != 0}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a></li>
						<li th:classappend="${currentPage == i-1 ? 'active' : ''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span> </a></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#">Next</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</section>

</body>
</html>